header {
  display: flex;
  width: 100%;
  height: 70px;
}

.logo {
  margin: 12px;
}

.tag {
  margin: 12px;
  margin-left: 40px;
}

.Header__title {
  width: 200px;
  display: flex;
}

span {
  white-space: nowrap;
  font-size: 14px;
}

.Nav__body {
  margin: 0 0 0 auto;
  line-height: 70px;
}

.nav-title {
  padding: 30px 15px;
}
.color-blue {
  color: #fff;
  background-color: #008da8;
}
